@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');
body{
    margin: 0;
    align-items: center;
    justify-content: center;
    height: calc(100vh-.1px);
    padding-left: 70px;
    padding-right: 70px;
    background: url(images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-color: hsl(257, 40%, 49%);   
    font-family: 'Open Sans', sans-serif;
}
img{
    width: 100%;
}
header{
    margin-top: 15px;
    width: 220px;
}

.outer{
    display: flex;
    flex-direction: row;
    margin-top: 120px;
    width: 800px;
}
.inner{
    margin-left: 80px;
    margin-top: 10px;
    
}
.inner p{
    width: 470px;
    line-height: 25px;
    color: white;
}
h1{
    width: 500px;
    line-height: 60px;
    font-family: 'Poppins', sans-serif; 
    color: white;
    font-size: 40px;
}
button{
    width: 170px;
    padding: 13px;
    border-radius: 1.5rem;
    color: hsl(300, 69%, 71%);
}
button:hover{
    cursor: pointer;
    color: white;
    background-color: hsl(300, 69%, 71%) ;
}
span img{
    width: 30px;
    margin-left: 25px;
    margin-top: 25px;
    filter: brightness(0) invert(1);
}

span img:hover{
    cursor: pointer;
    filter: hsl(300, 69%, 71%);
}

footer{
  text-align: end;
}